main{
    margin-bottom: 1.5rem;
    margin-top: 3rem;

    & img{
        width: 329px;
        height: 329px;
        margin-bottom: 16px;
    }

    .contentmain{
        display: grid;
        
    }

}

.containerfooter{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;

    & .terms{
        display: flex;
        gap: 1rem;
    }
}



@media(width >=80em){
    main{
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
        & img{
            
            width: 286px;
            height: 286px;
            margin-bottom: 0px;
        }
    }

    .contentmain{
        display: grid;
        grid-template-columns: repeat(4,286px);
        gap:1.5rem;
        margin-bottom: 0px;

    }

    .containerfooter{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
        & a{
            color: var(--textcolor);
            font-size: 14px;
            font-weight: 150%;

        }
    }

    .terms{
        display: flex;
        gap: 1rem;
    }

    .terms:hover{
        cursor: pointer;
    }

}